body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    padding-top: 12px;
    margin-right: 24px;
}

.header {
    font-size: 24px;
    color: rgb(242, 242, 131);
    margin-left: 48px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

a {
    text-decoration-line: none;
    font-size: 18px;
    color: #e5e7eb;
}

.first {
    display: flex;
    margin: 24px 48px 24px 48px;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: rgb(242, 242, 131);
    margin: 16px;
}

.hero2 {
    font-size: 18px;
    color: #e5e7eb;
    margin: 16px;
}

button {
    background-color: rgb(242, 242, 131);
    color: black;
    padding: 4px 18px;
    border-radius: 8px;
}

.button1 {
    margin-left: 16px;
}

.first img{
    display: flex;
    width: auto;
    height: 200px;
}

.second {
    text-align: center;
    background-color: white;
}

.section {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 24px;
}

.container {
    display: flex;
    margin: 24px 48px 48px 48px;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
    font-size: 18px;
    flex-wrap: wrap;
    max-width: 200px;
}

.group img {
    width: 200px;
    height: 150px;
}

.third {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 48px 100px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.backdrop {
    background-color: white;
}

.cta {
    background-color:  rgb(242, 242, 131);
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.sign {
    font-size: 18px;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 8px;
    font-size: 12px;
}